# Virtual environment
venv/

venv/
__pycache__/
*.env
*.log
screenshots/
uploads/

# PyCache files
__pycache__/
*.pyc
*.pyo

# AWS credentials and sensitive information
*.env
*.secret
credentials.json
eyegaze-backend\src\config\eyegaze-5a6f0-firebase-adminsdk-fbsvc-9432977af2.json


# Temporary files and folders
*.log
screenshots/
uploads/

# IDE-specific files
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db
